@font-face {
  font-family: 'OCRA';
  font-style: normal;
  font-weight: normal;
  src: local('OCR A Std'), url('/OCRAStd.woff') format('woff');
}

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: url('/DOS_VGA.woff') format('woff');
}
