html {
  font-family: var(--sans-stack);
  font-size: var(--txt-0);
  line-height: var(--baseline);
  letter-spacing: calc(var(--tracking) * 1px);
  background-color: var(--bg-color);
  color: var(--txt-color);
}

body {
  line-height: var(--baseline);
}

b {
  font-weight: 700;
}
h1, h2, h3, h4, h5 {
  font-family: var(--sans-stack);
  margin-block: var(--baseline);
  line-height: var(--baseline);
  letter-spacing: 0px;
}
h1 {
  line-height: calc(var(--baseline) * 2);
  font-family: var(--serif-stack);
  margin-block-start: 0;
  margin-block-end: var(--baseline);
}
p {
  margin-block-start: 0;
  line-height: var(--baseline);
  margin-block-end: var(--baseline);
}
ul, ol {
  padding-inline-start: 2ch;
  list-style-type: square;
  padding-block-end: var(--baseline);
}
li {
  line-height: var(--baseline);
}
li::marker {
  line-height: 0;
}
details,
summary {
  line-height: var(--baseline);
}
summary::marker {
  line-height: 0;
}
details ul,
details ol {
  padding-block-end: 0;
}
h1 { font-size: var(--txt-2); }
h2 { font-size: var(--txt-1); }
h3 { font-size: var(--txt-0); }
h4 { font-size: var(--txt-0); }
h5 { font-size: var(--txt-0); }


a,
a:visited {
  display: inline-block;
  color: var(--light-blue);
}
a:focus,
a:hover {
  background-color: yellow;
  color: var(--dark-blue);
  outline: 0.25em solid yellow;
}


pre {
  max-width: 100%;
  overflow-x: scroll;
  background-color: var(--txt-color);
  padding: calc(var(--baseline) / 2) 2ch;
  margin-block-end: var(--baseline);
  /* ????? */
  margin-block-start: -5px;
}
code {
  word-wrap: break-word;
  color: var(--pale-green);
  background-color: var(--txt-color);
  padding: 0.25ch 0.5ch;
}

label {
  margin: 0;
  display: block;
  line-height: var(--baseline);
}
input {
  padding: calc(var(--baseline) / 4);
  background-color: var(--pale-green);
  color: var(--brown);
  outline: none;
  border: 1px solid var(--txt-color);
  margin-block-end: calc(var(--baseline) * 0.5 - 2px);
  line-height: var(--baseline);
}
input:focus {
  background-color: yellow;
}
input[type="checkbox"] {
  width: 1ch;
  height: 1ch;
  line-height: var(--baseline);
}
input[type="checkbox"]:focus {
  outline: 0.25em solid yellow;
}

button {
  border: 2px solid var(--txt-color);
  padding: 0.25ch 0.5ch;
  background-color: var(--pale-green);
  line-height: calc(var(--baseline) * 1);
  margin-block-start: calc(calc(0.25ch + 4px) * -1);
  border-radius: 0.25ch;
}
button:focus {
  outline: 0.25em solid yellow;
  background-color: yellow;
}
button:active {
  background-color: var(--txt-color);
  color: var(--pale-green);
  background-color: var(--txt-color);
}
/* Grid View */
.grid {
  display: grid;
  grid-auto-flow: column;
  gap: 1ch;
  align-items: first baseline;
  margin-block-end: var(--baseline);
}

/* grid helpers
.baseline-grid {
  background-size: calc(var(--baseline)) calc(var(--baseline));
  background-image: repeating-linear-gradient(0deg, var(--grid-color), var(--grid-color) 0.5px, transparent 1px, transparent);
}

.char-grid {
  background-size: calc((var(--track-ratio) * 1em) + calc(var(--tracking) * 1px)) 1em;
  background-image:  repeating-linear-gradient(to right, var(--grid-color), var(--grid-color) 0.5px, transparent 1px, transparent);  
}
*/


.dotgrid {
  background-image: url(/wonkgraph.png);
  padding-block-start: calc(var(--baseline));
  padding-block-end: calc(var(--baseline));
  padding-inline: 3ch 0;
}
.dotgrid span {
  background-color: var(--bg-color);
}
