/*.octo-thorpe::before {
  content: "\0023";
  font-weight: bold;
  display: inline-block;
  transform: rotate(30deg);
}*/

.octo-thorpe summary {
  list-style: none;
  cursor: zoom-in;
}

.octo-thorpe summary::before {
  padding-inline-end: 0.1em;
  content: "\0023";
  font-weight: bold;
  display: inline-block;
  transform: rotate(30deg);
}
.octo-thorpe[open] summary::before {
  transform: rotate(0);
}