.octo-thorpe {
  display: inline;
}
.octo-thorpe[open] {
  display: block;
}

.octo-thorpe summary {
  list-style: none;
  cursor: zoom-in;
}

.octo-thorpe summary::before {
  padding-inline-end: 0.1em;
  content: "\0023";
  font-weight: bold;
  display: inline-block;
  transform: rotate(30deg);
}
.octo-thorpe[open] summary::before {
  transform: rotate(0);
}

.octo-thorpe p {
  padding: 0;
  margin: 0;
}

.octo-thorpe ul {
  padding: 0 0 1em 1em;
  margin: 0;
}

